body{
    background-color: rgb(95, 95, 211);
    background-image: url("https://www.elsetge.cat/myimg/f/98-989502_cyan-wallpaper-cyan-background-hd.jpg");
}
.container{
    background-color: rgb(247, 244, 244);
    margin-top: 50px;
    max-width: 1200px;
}

.bluebg{
    background-color: rgb(43, 180, 162);
}
.blackbg{
    background-color: rgb(2, 2, 2);
}
.colheight{
    max-height: 400px;
}
.colwidth{
    max-width: 285px;
}
footer{
    color: rgb(240, 232, 232);
    text-align: center;
}
.btn-group-vertical{
    margin-top: 5px;
}

ul >p{
    color: rgb(245, 239, 239);
}