.flexContainer{
    display: flex;
    background-color: rgb(233, 236, 58);
    align-content: space-between;
    flex-wrap: wrap;
    width: fit-content;

}

.flexContainer > div, .flexcolumn > div {
text-align: center;
line-height: 50px;
font-size: 30px;
}

.flexcolumn{
    width: fit-content;
    display:  flex;
    background-color: rgb(252, 252, 252);
    flex-direction: column;
    max-width: 89.1%;
}

.box{
    float: left;
    background-color: rgb(216, 230, 26);
    min-width: 200px;
}


header{
height: 150px;
color: rgb(235, 225, 225);
text-align: center;
background-color:  rgb(50, 14, 209);
}
footer{
    height: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color:  rgb(8, 8, 8);
}

