h1{
    color: rgb(255, 51, 0);
    font-size: 40px;
}

h3{
    color: rgb(55, 0, 255);
    font-size: 40px;
}

header{
    color: rgb(255, 0, 64);
}

p{
    font-size: 25px;
}

h1 .warning{
    color: rgb(210, 105, 30);
    background-color: rgb(94, 145, 240);
}